@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lobster&family=Luxurious+Roman&family=Merriweather:ital,wght@1,400;1,900&family=Roboto+Mono:ital,wght@0,300;0,500;1,700&family=Work+Sans:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.fa-bars{
    color:rgba(240, 235, 235, 0.767);
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
   min-height: 100vh;
   background-color:rgba(243, 226, 217, 0.698);
   position: relative;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
}
.header-content{
    padding:0 2rem;
    background-color:black;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:12vh;
}
.logo{
    height: 105px;
    padding: 15px 15px 15px 15px;
}
.nav-links{
    display: flex;
    width:60%;
    justify-content: space-between;
}
.nav-links a{
    font-size:18px;
    color:rgba(243, 226, 217, 0.698);    
    
}
.nav-links a:hover{
    color:rgb(255, 255, 255);
    font-size:20px;
}
.nav-links li::after{
    content:'';
    display: block;
    background-color:tomato;
    height:2px;
    transform:scaleX(0);
    transition: transform 400ms;
    
}
.nav-links li:hover::after{
    transform:scaleX(1);
}
.burger{
    display: none;
    cursor: pointer;
}
.text-center{
    color:tomato;
    position:absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    transition: all 300ms;
}
.text-center h1{
    margin:1.2rem 0;
    font-size:50px;
}
@media only screen and (max-width:650px){
   .nav-links{
       position: absolute;
       flex-direction: column;
        right: -50px; 
       align-items: center;
       height:50vh;
       padding:1.5rem 0;
       top:12vh;
       background-color: rgba(255, 115, 90, 0.739);
       width:0%;
       transition: width 400ms ;
   }
   .nav-links a{
       color:black;
   }
   
   .burger{
       display: block;
   }
}
@media only screen and (max-width:960px){
    .text-center{
       width:100%;
    }
}
.nav-show{
   width:110%;
   right: 0px;
}

.textareahide{
    left:-15rem;
}